{% extends 'basic.html' %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block css_additional %}
<!-- Custom styles for this template -->
<link href="{% static 'vendor/css/pets.css' %}" rel="stylesheet">
<link href="{% static 'vendor/css/profile.css' %}" rel="stylesheet">

{% endblock %}
{% block style %}
{% endblock %}


{% block content %}
<div class="container">
    <main>
        <div class="col-lg-4 menu">
            <ul>
                <li><a href="{% url 'users:profile'%}">Профиль</a></li>
                <li><a href="{% url 'news:mailing_management'%}">Управление почтовой рассылкой</a></li>
                <li><a href="{% url 'users:favorites'%}" style="color: black; font-weight: 600;">Мои любимцы</a></li>
            </ul>
        </div>
        <div class="col-lg-8">
            <div class="row" style="justify-content: center;">
                <h4 class="basket-title" style="text-align: center;
                                margin: 20px;
                                font-weight: 600;">
                    МОИ ЛЮБИМЦЫ
                </h4>

            <div class="row" style="justify-content: center; text-align: center;">
                {% if object_list|length == 0 %}
                        <p><a class="link" href="{% url 'pets:index' %}">Выберете</a> питомцев, которые вам особенно интересны.</p>
                {% endif %}

            {% if baskets %}
                {% for pet in object_list %}
                <div class="col-lg-3 col-md-5 col-sm-5 mb-2">

                    <div class="card h-100">
                        <a href="{% url 'pets:one_pet' pet_name=pet.slug %}" class="card_image">
                            <img class="card-img-top"
                                 src="{{ pet.image.url }}"
                                 alt="">
                        </a>

                        <div class="card-body">
                            <a href="{% url 'pets:one_pet' pet_name=pet.slug %}">
                                <h4 class="card-title">
                                    <p>{{ pet.name|title }}</p>
                                </h4>
                                <h5>{% if pet.gender == 'f' %}
                                    (девочка)
                                    {% else %}
                                    (мальчик)
                                    {% endif %}
                                </h5>

                                <div class="solid"></div>
                                <h5 class="status">{{ pet.status }}</h5>
                            </a>
                        </div>

                        <div class="card-footer text-center">
                            <a href="{% url 'pets:basket_remove' pet.id %}">
                                <button class="heart" aria-label="heart" data-ico="❤️"
                                        style="--light: 1; --hue: 344deg"></button>
                            </a>

                        </div>
                    </div>
                </div>

                {% endfor %}
                {% endif %}
            </div>
        </div>
        </div>

    </main>
</div>
{% endblock %}