{% if baskets %}

<h4 class="basket-title">
    Я слежу за судьбой
</h4>
{% for basket in baskets %}
<div class="col-lg-4 col-md-6 mb-3">
    <div class="card h-100">
        <a href="{% url 'pets:one_pet' pet_name=basket.pet.slug %}" class="card_image">
            <img class="card-img-top"
                 src="{{ basket.pet.image.url }}"
                 alt="">
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{% url 'pets:one_pet' pet_name=basket.pet.slug %}">{{ basket.pet.name }}</a>
            </h4>
            <h5>{% if basket.pet.gender == 'f' %}
                Девочка
                {% else %}
                Мальчик
                {% endif %}
            </h5>
            <div class="solid"></div>

            <p class="card-text">{{ basket.pet.description }}</p>
            <h5 class="status">{{ basket.pet.status }}</h5>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'pets:basket_remove' basket.id %}">
                <button>Перестать отслеживать судьбу</button>
            </a>
        </div>
    </div>
</div>
{% endfor %}


<!--<div class="card mb-3">-->
<!--    <div class="card-footer">-->
<!--        <p class="float-left">Итого вы пожертвовали</p>-->
<!--        <h4 class="float-right">2 390 руб.</h4>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash;<a class="btn btn-success btn-lg float-right" href="../orders/order-create.html">&ndash;&gt;-->
<!--&lt;!&ndash;    Пожертвовать ещё&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->

{% else %}

<h4 class="mt-3 mb-3 text-center">
    Корзина пуста
</h4>

{% endif %}