{% extends 'basic.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block css_additional %}

<link href="{% static 'vendor/css/donation.css'%}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="introdaction">
    <div class="introdaction-info">
        <div class="about-me">
            <h1> Дорогой друг, я очень рада, что ты хочешь помочь животным!</h1>
            <p>Есть несколько способов это сделать:
                <br>
                1. Нам всегда необходима <a class="link" href="#donation">финансовая помощь</a>! Мы будем рады абсолютно
                любой сумме. <br>
                2. Подопечные очень нуждаются в любящем человеке, если у тебя есть возможность взять кого-то на
                <a class="link" href="#home">передержку</a> или же
                <a class="link" href="#home">стать хозяином</a> животных, обязательно дай знать! <br>
                3. У тебя есть возможность помогать другим, покупая красивое для себя в магазине <a class="link"
                                                                                                    href="#RabbitStones">Rabbit
                    Stones</a>. Таким
                образом можно
                получить двойную радость от обладания милой вещицей и причастности к спасению животных!
            </p>
        </div>
    </div>
    <div class="photos">
        <div class="pet image">
            <img class="figure" src="{% static 'vendor/img/index/kitten.jpg' %}">
        </div>
    </div>
    <h1 class="small-screen-title">Дорогой друг, я очень рада, что ты хочешь помочь животным!</h1>
</div>

<div class="donation" id="donation">
    <div class="text-donation">
        <div class="invoices-for-payment">
            <img src="{% static 'vendor/img/donation/schet.png' %}">
            <img src="{% static 'vendor/img/donation/schet1.png' %}">
            <img src="{% static 'vendor/img/donation/schet2.png' %}">
            <img src="{% static 'vendor/img/donation/schet3.png' %}">
            <img src="{% static 'vendor/img/donation/schet4.png' %}">
            <img src="{% static 'vendor/img/donation/schet5.png' %}">
            <img src="{% static 'vendor/img/donation/schet6.png' %}">
            <img src="{% static 'vendor/img/donation/schet7.png' %}">
        </div>
        <div class="donation-text">
            <h2 class="info donat">Регулярно кому-нибудь из моих подобечных требуется медицинская помощь и, к
                сожалению, ветеринарные услуги стоят очень дорого.<br>
                Кроме этого многие животные сейчас находятся на платных передержках, на которые ежемесячно ведуться
                сборы. <br>
                Помимо этого покупка пропитания, лекарств и наполнителей тоже требует финансовых волжений.<br>
                Давайте помогать животным вместе, без вас мы не справимся!
            </h2>
            <h2 class="payment-details">
                Реквизиты:<br>
                ‌Сбербанк 4274 3200 7622 5674<br>
                Тинькофф 5536 9138 5424 2480<br>
            </h2>
        </div>

    </div>
</div>

<div class="home" id="home">
    <div class="card">
        <h1>Заполните анкету для того, чтобы взять животное на передержку или стать постоянным хозяином.</h1>

        <details class="cats">
            <summary>Хочу приютить кота/кошку</summary>
            <div class="pet-info">
                <p>
                    Замечательно, что тебя заинтересовал нуждающийся в хозяине кот или кошка!
                </p>
                <p>Перед тем, как ты мне напишешь, расскажу о важных условиях, которых
                    необходимо придерживаться, чтобы животное стало твоим:</p>
                <ul>
                    <li>Заботиться и беречь питомца. Нельзя обижать животное, любое насилие запрещено!</li>
                    <li>Сохранять обратную связь со мной.</li>
                    <li>Кошки часто могут попасть в беду, если пролезут в открытое окно,
                        поэтому необходимо установить кошколовки
                    </li>
                    <li>Своих животных я лечу только у проверенных врачей и в хороших клиниках,
                        поэтому, ради их здоровья и безопасности, в будущем следует придерживаться
                        списка рекомендованных ветеринаров.
                    </li>
                </ul>
                <p style="font-weight: bold;">Если ты согласен/согласна, то заполни <a class="link"
                                                            href="{% url 'pets:cat_guardianship' %}">форму</a> обратной
                    связи и жди ответа.</p>
            </div>
        </details>

        <details class="rabbits">
            <summary>Хочу приютить кролика/крольчиху</summary>
            <div class="pet-info">
                <p>
                    Замечательно, что тебя заинтересовал нуждающийся в хозяине кролик!
                </p>
                <p>Перед тем, как ты мне напишешь, расскажу о важных условиях, которых
                    необходимо придерживаться, чтобы животное стало твоим:</p>
                <ul>
                    <li>Заботиться и беречь питомца. Нельзя обижать животное, любое насилие запрещено!</li>
                    <li>Сохранять обратную связь со мной.</li>
                    <li>Готовность обустроить вольер размером не менее 1,5-2 кв. м на кролика,высотой от 80-100 см,
                        либо держать кролика на свободном выгуле.
                    </li>
                    <li>Своих животных я лечу только у проверенных врачей и в хороших клиниках,
                        поэтому, ради их здоровья и безопасности, в будущем следует придерживаться
                        списка рекомендованных ратологов.
                    </li>
                </ul>
                <p style="font-weight: bold;">Если ты согласен/согласна, то заполни <a class="link" href="{% url 'pets:rabbit_guardianship' %}">форму</a>
                    обратной связи и жди ответа.</p>
            </div>
        </details>

        <details class="dogs">
            <summary>Хочу приютить собаку</summary>
            <div class="pet-info">
                <p>
                    Замечательно, что тебя заинтересовал нуждающаяся в хозяине собака!
                </p>
                <p>Перед тем, как ты мне напишешь, расскажу о важных условиях, которых
                    необходимо придерживаться, чтобы животное стало твоим:</p>
                <ul>
                    <li>Заботиться и беречь питомца. Нельзя обижать животное, любое насилие запрещено!</li>
                    <li>Сохранять обратную связь со мной.</li>
                    <li>Своих животных я лечу только у проверенных врачей и в хороших клиниках,
                        поэтому, ради их здоровья и безопасности, в будущем следует придерживаться
                        списка рекомендованных ветеринаров.
                    </li>
                </ul>
                <p style="font-weight: bold;">Если ты согласен/согласна, то заполни <a class="link" href="{% url 'pets:dog_guardianship' %}">форму</a> обратной
                    связи и жди ответа.</p>
            </div>
        </details>
    </div>
</div>

<div class="RabbitStones" id="RabbitStones">
    <div class="photos">
        <div class="pet image">
            <div class='slider' id="news">
                {% for n in range %}
                {% if n == 0 %}
                <input type="radio" name="slider" id="slider{{n}}" checked="checked">
                <div class="slide">
                    <img src="{% static 'vendor/img/donation/rs' %}{{ n }}.png" alt=''>
                </div>
                <label for="slider6"></label>
                <label for="slider{{ n|add:'1' }}"></label>
                {% elif n == 6 %}
                <input type="radio" name="slider" id="slider{{n}}">
                <div class="slide">
                    <img src="{% static 'vendor/img/donation/rs' %}{{ n }}.png" alt=''>
                </div>
                <label for="slider{{ n|add:'-1' }}"></label>
                <label for="slider0"></label>
                {% else %}
                <input type="radio" name="slider" id="slider{{n}}">
                <div class="slide">
                    <img src="{% static 'vendor/img/donation/rs' %}{{ n }}.png" alt=''>
                </div>
                <label for="slider{{ n|add:'-1' }}"></label>
                <label for="slider{{ n|add:'1' }}"></label>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="info RS">
        <p>
            Я спасаю животных, а еще делаю украшения для того, чтобы содержать своих спасенных малюток! <br>
            Я придумала и открыла магазин украшений, потому что меня очень вдохновляют минералы, мне
            нравится мысль, что их создает природа и немножко человек, украшения отличный подарок по
            поводу и без, украшения это память на долгие годы.<br>
            Если хочешь лучше ознакомиться с ассортиментом и выбрать украшения для себя или в подарок,
            то заходи на <a class="link" href="https://www.instagram.com/p/Cz7FhaTr058/?show_story_unavailable=1&img_index=6">страничку* </a>
            магазина! <br>
            *Instagram, продукт компании Meta, которая признана экстремисткой организацией в России
        </p>
    </div>
</div>
{% endblock %}