{% extends 'basic.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block css_additional %}
<!-- Custom styles for this template -->
<link href="static/vendor/css/index.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,700;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content">
    <div class="happy-first-menu">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pets:index' %}"><p class="nav-item-text">Наши подопечные</p> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about-me"><p class="nav-item-text">Обо мне</p></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><p class="nav-item-text">Как помочь животным</p></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'users:profile' %}"><p class="nav-item-text">Профиль</p></a>
                    </li>
                    {% if user.is_superuser or user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin"><p class="nav-item-text">Админ-панель</p></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'users:logout'  %}"><p class="nav-item-text">Выйти</p>

                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}"><p class="nav-item-text">Войти</p> </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="happy-images">
        <div class="info">
            <div class="about-me">
                <h1>HAPPY VEGAN SHELTER</h1>
                <h3>Привет, Дорогой человек, возможно ты тут недавно, а возможно давно. Меня зовут Мила и у меня на
                    кураторстве кролики, кошки, собаки и другие животные,
                    которым необходима наша помощь.</h3>
            </div>

        </div>
        <div class="photos">
            <div class="logo"></div>
        </div>
    </div>

    <div class="header-arrow">
        <a href="#news" class="header-arrow-btn">
            <img class='arrow' src="{% static 'vendor/img/index/arrow.png' %}" alt="arrow">
        </a>
    </div>
</div>
{% include 'includes/news.html' %}

<div class="about-us" id="about-me">
    <div class="about">
        <header class="about-title-thin">
            <div style="display: flex; justify-content: center; align-items: center;">
                <h2 style="text-align: center;">
                    <span style="    color: white; padding-bottom: 10px;">Обо мне</span>
                    <div class="divider"></div>
                </h2>
            </div>
        </header>
        <div class="card-info">
            <div class="card-image">
                <div><img class="card-image-img" src="{% static 'vendor/img/index/Mila.jpg' %}" alt="Mila"></div>

            </div>
            <div class="card-divider"></div>
            <div class="table one">
                <img src="{% static 'vendor/img/index/list4.png' %}">
                <p class="card-description one">
                    Привет, Дорогой человек, возможно ты тут недавно, а возможно давно. Меня зовут Мила и у меня на
                    кураторстве 29 животных,
                    12 животных живет у меня, а остальные 17 на платных и бесплатных передержках. 17 животных в
                    поисках своей родной души в
                    виде хорошего человека.</p>
            </div>
        </div>

        <div class="card-info">
            <header class="about-title">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <h2 style="text-align: center;">
                        <span style="    color: white; padding-bottom: 10px;">Обо мне</span>
                        <div class="divider"></div>
                    </h2>
                </div>
            </header>
            <div class="table two" id="a">
                <img src="{% static 'vendor/img/index/list2.png' %}">
                <p class="card-description two">
                    Тема спасения животных многим уже приелась, у людей сейчас другие заботы, тревоги, многие живут
                    на самосохранении, я это понимаю. Но что делать нашим животным? Как спасать новых?

                    Не нужно быть очень богатым, чтобы сделать доброе дело, 50-100 рублей, любая сумма от чистого
                </p>
            </div>
            <div class="card-divider"></div>
            <div class="card-image two" id="b">
                <div><img class="card-image-img two" src="{% static 'vendor/img/index/pushok.png' %}" alt=""></div>

            </div>
        </div>


        <div class="card-info">
            <div class="card-image">
                <div>
                    <img class="card-image-img" src="{% static 'vendor/img/index/rabbit_stones.jpg' %}" alt="">
                </div>
            </div>
            <div class="card-divider"></div>
            <div class="table threee">
                <img src="{% static 'vendor/img/index/list5.png' %}">
                <p class="card-description three">Возможность любить дана не каждому, но те кто обладают открытым
                    сердцем смогут
                    почувствовать целый мир, прикоснуться к самому трепетному, чуткому и по-настоящему оценить
                    важность каждой жизни</p>

            </div>
        </div>
    </div>
</div>

<div class="advantages">
    <div class="adv-row">
        <div class="adv-photos">
            <div class="pets-images">
                <div class="photo-row">
                    <div class="photo one"></div>
                    <div class="photo two"></div>
                </div>
                <div class="photo-row">
                    <div class="photo three"></div>
                    <div class="photo four"></div>
                </div>
                <div class="photo-row">
                    <div class="photo five"></div>
                    <div class="photo six"></div>
                </div>

            </div>
        </div>
        <div class="adv-text">
            <div class="hero-content rmb-50">
                <div class="section-title mb-15 wow fadeInUp delay-0-4s animated" style="text-align: center;">
                    <h2 class="title-adv">Почему нужно взять животное в приюте?</h2>
                </div>
                <ul class="wow fadeInUp delay-0-6s animated" style="text-align: justify">
                    <li class="heart">Спасение жизни: Вы даете животному второй шанс. Сотни тысяч животных гибнут в
                        приютах каждый год из-за недостатка места и ресурсов.
                        Приняв решение взять животное из приюта, вы спасаете жизнь.
                    </li>
                    <li class="heart">Выбор животного: Приюты полны разнообразными животными, готовыми стать вашими
                        питомцами. Можно выбрать животное, которое вам больше всего подходит по характеру, возрасту
                        и размеру.
                    </li>
                    <li class="heart">Экономия: животные из приюта обычно уже привиты, обследованы, стерелизованы
                        или кастрированы.
                    </li>
                    <li class="heart">Вакцинация и ветеринарный уход: Животные из приюта обычно уже привиты и
                        осмотрены ветеринаром, что гарантирует, что вы заберете здорового питомца.
                    </li>
                    <li class="heart">Борьба с бесконтрольным разведением: Купив животное в приюте, вы препятствуете
                        незаконной и неэтичной торговле животными и недобросовестному разведению.
                    </li>
                    <li class="heart">Социализация: Животные в приютах часто проживают с другими животными и имеют
                        взаимодействие с волонтерами, что помогает им легче адаптироваться к новым ситуациям и
                        людям.
                    </li>
                    <li class="heart">Эмоциональная награда: Взятие животного из приюта приносит огромное
                        эмоциональное удовлетворение от осознания, что вы помогли беззащитному существу.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}