{% extends 'basic.html' %}
{% load static %}
{% block title %}  {% endblock %}

{% block css_additional %}
    <!-- Custom styles for this template -->
    <link href="{% static 'vendor/css/pet.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/css/footer.css'%}" rel="stylesheet">
    <link href="{% static 'vendor/css/index_navbar.css'%}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="pet-content">
        <div class="pet-row">
            <img src="{{ pet.image.url }}" class="pet image">
            <div class="pet letter">
                <h1>Привет, друг, меня зовут <span>{{pet.name}}</span></h1>
                <h3>{{pet.description}}</h3>
            </div>
        </div>


        <div class="history-list">
            <ul>
            {% for node in history %}
            <li><span>{{ node.node }}</span></li>
            {% endfor %}
        </ul>
        </div>
        <div class="pet-needs">
            <h1>Сейчас я очень нуждаюсь в:</h1>
            <h2>{{pet.needs}}</h2>
            <h1>Буду очень благодарна за твою помощь!</h1>
        </div>



    </div>

    </div>
</div>
<!-- /.container -->

<!-- Footer -->

{% endblock %}
