{% extends 'basic.html' %}
{% load static %}
{% block title %} Store - Каталог {% endblock %}
{% load spurl %}

{% block css_additional %}
<!-- Custom styles for this template -->
<link href="{% static 'vendor/css/pets.css'%}" rel="stylesheet">
<script src="{% static 'vendor/js/button.js'%}"></script>
{% endblock %}

{% block content %}
<!-- Page Content -->

<div class="container" >
<div class="pet-filter" style="padding-top: 50px;">
            <h1 class="h2">Каталог</h1>
            <div class="pet-filter-rov">
                <form class='filter' method="GET" action="{% url 'pets:index' %}">
            <div class="one-filter">
                <select class='form-select' name="category" id="category">
                    <option value="-" {% if request.GET.category == None %} selected {% endif %}>Все виды</option>
                    {% for category in categories %}
                            <option value={{category.id}} {% if  request.GET.category|add:"0" == category.id %} selected {% endif %} > {{ category.name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="one-filter">
                <select class='form-select' name="gender" id="gender">
                    <option value="-" {% if request.GET.gender == None %} selected {% endif %}>Любой пол</option>
                    <option value="m" {% if request.GET.gender == "m" %} selected {% endif %}> Мужской </option>
                    <option value="f" {% if request.GET.gender == "f" %} selected {% endif %}> Женский </option>
                </select>
            </div>
            <div class="one-filter">
                <select class='form-select' name="status" id="status">
                    <option value="-" {% if request.GET.status == None %} selected {% endif %}>Любой статус</option>
                    {% for status in statuses %}
                            <option value={{status.id}} {% if  request.GET.status|add:"0" == status.id %} selected {% endif %}  > {{ status }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-button">
                <input type="submit" value="Поиск">
            </div>
        </form>
            </div>
        </div>

        <div class="col-lg-13">

            <div class="row" style="justify-content: center;">
                {% if object_list|length == 0 %}
                    <h1>К сожалению, не нашлось соответствия по заданным вами параметрам поиска.<br>
                    Попробуйте изменить запрос.</h1>
                {% endif %}
                {% for pet in object_list %}
                <div class="col-lg-3 col-md-5 col-sm-5 mb-2">

                    <div class="card h-100">
                        <a href="{% url 'pets:one_pet' pet_name=pet.slug %}" class="card_image">
                            <img class="card-img-top"
                                 src="{{ pet.image.url }}"
                                 alt="">
                        </a>

                            <div class="card-body">
                                <a href="{% url 'pets:one_pet' pet_name=pet.slug %}">
                            <h4 class="card-title">
                                <p>{{ pet.name|title }}</p>
                            </h4>
                            <h5>{% if pet.gender == 'f' %}
                                (девочка)
                                {% else %}
                                (мальчик)
                                {% endif %}
                            </h5>

                            <div class="solid"></div>

                            <p class="card-text">{{ pet.description|truncatechars:40 }}</p>
                            <h5 class="status">{{ pet.status }}</h5>
                                    </a>
                        </div>


                        <div class="card-footer text-center">
                            <a class='btn btn-outline-success' href="#">
                                Отслеживать судьбу
                            </a>
                            <a {% if pet.id in user_pet_id %}  href="{% url 'pets:basket_remove' pet.id %}" {% else %} href="{% url 'pets:basket_add' pet.id %}" {%endif%} >
                                <button class="heart" aria-label="heart" data-ico="❤️"
                                    {% if pet.id in user_pet_id %} style="--light: 1; --hue: 344deg" {%endif%} style="--hue: 344deg"></button>
                            </a>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>


                    {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center my-3">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% spurl query=request.GET set_query='page={{ page_obj.previous_page_number }}'%}">Предыдущая</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link no-transition" style='background-color: #bdc0c0 !important;'>Пердыдущая</a>
                    </li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        {% if  request.GET.page|add:"0" == page %}
                        <li class="page-item"><a class="page-link active no-transition" href="{% spurl query=request.GET set_query='page={{ page }}'%}">{{ page }}</a></li>
                        {% else %}
                            {% if request.GET.page == None and page == 1 %}
                                <li class="page-item"><a class="page-link active no-transition" href="{% spurl query=request.GET set_query='page={{ page }}'%}">{{ page }}</a></li>
                            {% else %}
                        <li class="page-item"><a class="page-link" href="{% spurl query=request.GET set_query='page={{ page }}'%}">{{ page }}</a></li>
                        {% endif %}
                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% spurl query=request.GET set_query='page={{ page_obj.next_page_number }}'%}">Следующая</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link no-transition" style='background-color: #bdc0c0 !important;'>Следующая</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

    </div>


</div>

<!-- /.container -->
{% endblock %}
