{% extends 'basic.html' %}
{% load static %}

{% block css_additional %}
<!-- Custom styles for this template -->
<link href="{% static 'vendor/css/auth.css'%}" rel="stylesheet">

{% endblock %}
{% block style%}
    a {
        outline: none;
        text-decoration: none;
        color: #5d8481;
        transition-property: font-weight;
        transition-duration: 200ms;
    }
    a:hover {
            transition: 0.5s;
            text-decoration: underline;
            color: #b90056;
    }
{% endblock%}

{% block content %}

<main>
<div class="authorisation" style="text-align: center;">
        <h1>Ваш запрос об опеке был отправлен.</h1>
        <p>Спасибо за ваш отклик! <br>
         В ближайшее время я свяжусь с вами.</p>
        <a href="{% url 'pets:index' %}" >Вернуться на главную страницу.</a>
</div>
</main>
{% endblock %}