{% load static cache %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'vendor/css/news.css'%}">
{% endblock %}


<div class="news">
    <div class='slider' id="news">
        {% cache 30 news %}
        {% for n in news %}
            {% if n.index_number == 1 %}
            <input type="radio" name="slider" id="slider{{n.index_number}}" checked="checked">
            <div class="slide">
                <div class="slide-photo">
                    <div class="ph" style="background-image: url({{n.image.url}});"></div>
                </div>
                <div class="slide-info">
                    <div class="title"><h1>{{ n.title }}</h1></div>
                    <hr class="solid">
                    <h3>{{ n.text }}</h3>
                        <div class="slide-photo-thin">
                            <img src='{{n.image.url}}' alt=''>
                        </div>
                    {% if n.connection %}
                    <a href="{% url 'pets:one_pet' pet_name=n.pet.slug %}">
                        <div class="btn btn-one">
                           <span>Узнать больше</span>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
                <label for="slider{{ news|length }}"></label>
                <label for="slider{{ n.index_number|add:'1' }}"></label>
            {% elif n.index_number == news|length %}
                <input type="radio" name="slider" id="slider{{n.index_number}}">
                <div class="slide">
                <div class="slide-photo">
                    <div class="ph" style="background-image: url({{n.image.url}});"></div>
                </div>
                <div class="slide-info">
                    <div class="title"><h1>{{ n.title }}</h1></div>
                    <hr class="solid">
                    <h3>{{ n.text }}</h3>
                        <div class="slide-photo-thin">
                            <img src='{{n.image.url}}' alt=''>
                        </div>
                    {% if n.connection %}
                    <a href="{{ n.pet.get_absolute_url }}">
                        <div class="btn btn-one">
                           <span>Узнать больше</span>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
                <label for="slider{{ n.index_number|add:'-1' }}"></label>
                <label for="slider1"></label>
            {% else %}
                <input type="radio" name="slider" id="slider{{n.index_number}}">
                <div class="slide">
                <div class="slide-photo">
                    <div class="ph" style="background-image: url({{n.image.url}});"></div>
                </div>
                <div class="slide-info">
                    <div class="title"><h1>{{ n.title }}</h1></div>
                    <hr class="solid">
                    <h3>{{ n.text }}</h3>
                    <div class="slide-photo-thin">
                            <img src='{{n.image.url}}' alt=''>
                        </div>
                    {% if n.connection %}
                    <a href="{% url 'pets:one_pet' pet_name=n.pet.slug %}">
                        <div class="btn btn-one">
                           <span>Узнать больше</span>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
                <label for="slider{{ n.index_number|add:'-1' }}"></label>
                <label for="slider{{ n.index_number|add:'1' }}"></label>
            {% endif %}
        {% endfor %}
        {% endcache %}
    </div>
</div>