{% load static %}

<footer class="footer" id="footer">
    <div class="footer">
        <div class="footer-logo">
        <button style="background-color: #f0f8ff00; border: none;">
            <a class="brand" href="{% url 'index'%}">
            <img class='rabbit-logo' src="{% static 'vendor/img/index/logo.png' %}" alt="logo">
        </a>
        </button>
        </div>
        <div class="footer-icons">
            <h1>Социальные сети:</h1>
            <div class="footer-icons-row">
            <a href="https://t.me/happyveganshelter">
            <img src="{% static 'vendor/img/index/tg.png' %}" alt="telegram">
            </a>
            <a href="https://vk.com/hvshelter">
            <img src="{% static 'vendor/img/index/vk.png' %}" alt="vk">
            </a>
          </div>
            <h2><a class="link" href="https://www.instagram.com/happyveganshelter/">Instagram</a>, продукт компании Meta, которая признана экстремисткой организацией в России</h2>
        </div>
    </div>


</footer>