<!-- Navigation -->

{% load static %}

<nav class="navbar navbar-expand-lg complex">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-lg-0">
                <div class="navbar-logo">
                <button style="background-color: #f0f8ff00; border: none;">
                    <a class="brand" href="/">
                    <img class="rabbit-logo" src="/static/vendor/img/index/logo.png" alt="logo">
                </a>
                </button>
                </div>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'pets:index' %}">Наши подопечные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Как помочь животным</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Контакты</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users:profile' %}">Профиль</a>
                </li>
                {% if user.is_superuser or user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Админ-панель</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users:logout'  %}">
                        Выйти
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users:login' %}">Войти </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'users:registration' %}">Регистрация </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>