{% extends 'basic.html' %}
{% load static %}
{% load i18n %}

{% block css_additional %}
<!-- Custom styles for this template -->
<link href="{% static 'vendor/css/auth.css'%}" rel="stylesheet">

{% endblock %}

{% block content %}

<main>
<div class="authorisation" style="text-align: center;">
        <h1>Инструкции отправлены на указанную электронную почту!</h1>
        <p>Мы отправили вам инструкции по установке пароля на указанный email, если аккаунт с таким адресом существует. Вы должны получить их в ближайшее время.</p>

        <p>Если вы не получили электронное письмо, убедитесь, что вы ввели правильно адрес электронной почты, под которым зарегистрировались, и проверьте папку со спамом.</p>

</div>
</main>
{% endblock %}