{% extends 'users/user_base.html' %} {% block content %}
{% load static %}

<main>
    {% if form.errors %}
            <div
                    class="alert-new"
                    role="alert"
            >
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors%}
                    <li>{{error}}</li>
                    {%endfor%}
                    {%endfor%}
                </ul>



                <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
    <div class="authorisation">

        <div class="inner">
            <div class="image-holder">
                <img src="{% static 'vendor/img/index/rabbits.png' %}" alt="">
            </div>


            <form action="{% url 'users:registration' %}" method="post" style="padding-top: 45px; padding-bottom: 45px;">
                <h3 class="form-title">Создать аккаунт</h3>
                {% csrf_token %}
                <div class="form-group">

                    {{form.first_name}}

                    {{form.last_name}}
                </div>

                <div class="form-wrapper">
                    {{form.username}}
                </div>
                <div class="form-wrapper">
                    {{form.email}}
                </div>
                <div class="form-wrapper">
                    {{form.password1}}
                </div>

                <div class="form-wrapper" style="padding-bottom: 20px;">
                    {{form.password2}}
                </div>

                <button class="button-background-move" role="button">
                    <input type="submit" value="Создать аккаунт"/>
                </button>

            </form>
        </div>
    </div>
</main>

{% endblock %}
